.modalLogin {
  padding: 20px;
  flex-grow: 1;
}

.closeButton {
  display: flex;
  justify-content: flex-end;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5px;
}

.title {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 12px;
  font-family: 'AvenirNextDemi';
  line-height: 20px;
  margin-top: 18px;
  text-align: center;
}

.separator {
  width: 100%;
  margin-top: 9px;
}

.buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.button {
  margin: 8px;
}
