.button {
  display: flex;
  padding: 29px 24px 25px 24px;
  font-size: 13px;
  letter-spacing: 1px;
  color: #fff;
  text-decoration: none;
  @media (--small) {
    padding: 18px 20px !important;
    color: #fff;
  }
}

.icon {
  color: #fff;
  font-size: 14px;
}

.alarm {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    left: -9px;
    top: -9px;
    width: 32px;
    height: 32px;
    border: 1px solid #d8536f;
    border-radius: 50%;
    animation: blink 1.2s linear infinite;
  }
  &:after {
    content: "";
    position: absolute;
    left: -5px;
    top: -5px;
    width: 24px;
    height: 24px;
    border: 2px solid #d8536f;
    border-radius: 50%;
    animation: blink 1.2s linear infinite;
    animation-delay: -0.3s;
  }
}

@keyframes blink {
  0% {
    border-color: #261f3d;
  }
  50% {
    border-color: #D8536F;
  }
  100% {
    border-color: #261f3d;
  }
}

.listWrapper {
  position: absolute;
  top: 55px;
  left: -232px;
  z-index: 1000;
  background-color: #312b47;
  border-radius: 6px;
  width: 300px;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.28);
  @media(--small) {
    top: 23px;
    left: -16px;
  }
  &::after {
    content: '';
    position: absolute;
    bottom: 100%;
    right: 50%;
    margin-right: -97px;
    border: 8px solid transparent;
    border-bottom: 8px solid #261f3d;
    @media(-small) {
      display: none;
    }
  }
}

.list {
  display: flex;
  position: relative;
  width: 300px;
  max-height: 366px;
  flex-direction: column;
  background-color: #312b47;
  font-size: 12px;
  overflow-y: auto;
  overflow-x: hidden;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.listHead {
  display: flex;
  min-height: 48px;
  padding: 0 20px;
  align-items: center;
  justify-content: space-between;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background-color: #261f3d;
}

.count {
  width: 22px;
  height: 22px;
  text-align: center;
  border-radius: 50%;
  background-color: #d8536f;
}

.countText {
  letter-spacing: normal;
  line-height: 22px;
}

.listButton {
  width: 186px;
  min-height: 34px;
  font-family: AvenirNextMedium;
  margin: 25px auto 25px auto;
  border: 0;
  border-radius: 3px;
  background-color: #139edc;
  font-size: 14px;
  color: #ffffff;
  &:hover {
    opacity: 0.8;
  }
}

.notification {
  & hr {
    margin: 0;
    height: 1px;
    background-color: #261f3d;
    border: 0;
  }
}

.notificationContainer {
  display: flex;
  flex-direction: row;
  padding: 10px;
  word-wrap: break-word;
  vertical-align: top;
  &:hover {
    opacity: 0.9;
  }
}

.author {
  width: 40px;
  margin-right: 8px;
}

.body {
  flex-grow: 1;
  cursor: pointer;
}

.head {
  display: flex;
  text-transform: uppercase;
  font-family: AvenirNextMedium;
  color: #ffffff;
  justify-content: space-between;
  align-items: center;
}

.time {
  font-family: AvenirNextMedium;
  font-size: 10px;
  color: #909090;
  letter-spacing: 0;
}

.type {
  margin-top: 10px;
  font-family: AvenirNextRegular;
  font-size: 13px;
  text-transform: lowercase;
  color: #d6d6d6;
  letter-spacing: 0;
}
