.username {
  display: block;
  font-family: 'AvenirNextDemi';
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.6px;
  font-weight: 500;
  line-height: 1.1;
  height: 1.1em;
  color: #fff;
  text-decoration: none;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  word-break: break-all;
  &:hover {
    text-decoration: underline;
  }
}

.blue {
  composes: username;
  color: #13a0df;
}

.white {
  composes: username;
}

.gray {
  composes: username;
  color: #dddddd;
}

.inherit {
  composes: username;
  color: inherit;
}

.noUppercase {
  composes: username;
  font-family: 'AvenirNextMedium';
  text-transform: none;
}

.noLink {
  composes: username;
  &:hover {
    text-decoration: none;
  }
}
