.button {
  text-transform: uppercase;
  line-height: 20px;
  padding: 10px 20px;
  height: 40px;
  color: #fff;
  font-size: 12px;
  letter-spacing: 1px;
  font-family: 'AvenirNextDemi';
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  background: #139edc;
  &:focus {
    outline: none;
  }
  &:disabled {
    opacity: 0.4;
  }
  &:hover {
    opacity: 0.8;
  }
}

.clear {
  cursor: pointer;
  user-select: none;
  border: 0;
  padding: 0;
  background: none;
  &:focus {
    outline: none;
  }
}

.basic {
  composes: button;
}

.basicGreen {
  composes: basic;
  background: #9cc315;
}

.basicWhite {
  composes: basic;
  background: transparent;
  color: #139edc;
  border: 2px solid #139edc;
}

.basicWhiteTransparent {
  composes: basic;
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid #ffffff;
}

.basicTransparent {
  composes: basic;
  color: #139edc;
  padding: 6px 12px;
  background: transparent;
  border: 2px solid #139edc;
}

.square {
  composes: button;
  font-size: inherit;
  height: 40px;
  width: 40px;
  padding: 0;
  line-height: 0;
}

.squareRed {
  composes: square;
  background: #d8536f;
}

.close {
  font-family: 'AvenirNextMedium';
  color: #697888;
  padding: 0;
  margin: 0;
  font-size: 21px;
  font-weight: 700;
  line-height: 0.6;
  border:none;
  background-image:none;
  background-color:transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  &:focus {
    outline: none;
  }
  &:hover {
    cursor: pointer;
  }
}
