:global {
  @media(min-width: 768px) {
    .uploadcare-dialog-tab,
    .uploadcare-dialog-tabs,
    .uploadcare-dialog-panel {
      background: transparent;
      border: 0;
    }

    .uploadcare-dialog-panel {
      padding-left: 0;
    }

    .uploadcare-dialog {
      display: none;
    }

    .uploadcare-dialog-tabs {
      float: none;
      width: auto;
      height: auto;
      overflow: hidden;
      margin-left: 0;
      display: flex;
    }

    .uploadcare-dialog-tab {
      width: 50px;
      margin: 0 5px 5px 0;
      float: left;
    }

    .uploadcare-dialog-tabs-panel,
    .uploadcare-dialog-source-base-wrap {
      padding: 0;
      margin: 0;
      height: 230px;
    }

    .uploadcare-dialog-file-or:not(.uploadcare-if-draganddrop),
    .uploadcare-dialog-file-sources {
      display: none;
    }

    .uploadcare-dialog-camera-holder {
      height: 350px;
    }

    .uploadcare-dialog-camera-video {
      max-height: 350px;
    }

    .uploadcare-dialog-footer {
      display: none;
    }

    .uploadcare-dialog-preview-title {
      display: none;
    }

    .uploadcare-dialog-preview--loaded {
      padding: 0;
    }

    .uploadcare-panel-footer {
      display: none;
    }

    .uploadcare-draganddrop .uploadcare-dialog-file-title {
      font-family: AvenirNextDemi;
      font-size: 12px;
      color: #139edc;
      letter-spacing: 1px;
      text-transform: uppercase;
      margin-bottom: 16px;
      &::before {
        content: '';
        display: block;
        height: 53px;
        width: 57px;
        margin: auto;
        margin-bottom: 20px;
        background: url('./icon.svg');
      }
    }

    .uploadcare-dialog-file-or {
      font-family: AvenirNextDemi;
      font-size: 10px;
      text-transform: uppercase;
      letter-spacing: 0.8px;
      color: #b4c1cc;
      margin-bottom: 12px;
    }

    .uploadcare-dialog-file-drop-area .uploadcare-dialog-big-button {
      font-family: AvenirNextDemi;
      font-size: 12px;
      font-weight: 600;
      text-transform: uppercase;
      text-decoration: underline;
      color: #afcd48;
      border-radius: 0;
      box-shadow: none;
      background: none;
      line-height: inherit;
      border: none;
      text-shadow: none;
      display: inherit;
      padding: 0;
    }

    .uploadcare-dialog-preview-image-wrap {
      height: auto;
    }

    .uploadcare-dialog-preview-image {
      width: 630px;
      height: 230px;
      max-height: auto;
      max-width: auto;
      object-fit: cover;
    }

    .uploadcare-draganddrop .uploadcare-dialog-file-drop-area {
      background: url('./upload_background.png');
      background-repeat: no-repeat;
      background-size: 100%;
      border: dashed 2px rgba(177, 192, 204, 0.76);
      border-radius: 4px;
      padding-top: 38px;
    }
  }

  .uploadcare-widget-circle--canvas {
    color: #139edc !important;
    border-color: #d4dfe5 !important;
  }

  .uploadcare-widget-button-open {
    padding: 17px 20px;
    margin: 0;
    font-family: 'AvenirNextDemi';
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    background: #9cc315;
    order: 1;
    &:hover {
      background: #9cc315;
      opacity: 0.8;
    }
  }
}
