.suggestions {
  display: flex;
  min-height: 100vh;
  position: fixed;
  background: #fff;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.closeButton {
  position: absolute;
  right: 25px;
  top: 25px;
}

.left {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100vh;
  flex-grow: 1;
  @media (--medium) {
    display: none;
  }
}

.right {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-width: 300px;
  background: #231E34;
  box-shadow: -1px 0 3px 0 rgba(0, 0, 0, 0.35);
  padding-top: 65px;
  overflow-y: auto;
  @media (--medium) {
    min-width: 100vw;
  }
}

.image {
  width: 100%;
}

.title {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 12px;
  font-family: 'AvenirNextDemi';
  line-height: 20px;
  margin-top: 18px;
  text-align: center;
}

.separator {
  width: 100%;
  margin-top: 9px;
}

.buttons {
  width: 250px;
  display: flex;
  justify-content: space-around;
}

.button {
  margin: 8px;
}

.spinnerContainer {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.userTips {
  @media (--medium) {
    display: none;
  }
}

.resolutionWarningText {
  display: none;
  font-size: 12px;
  line-height: 22px;
  padding: 30px;
  text-transform: uppercase;
  text-align: center;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  color: #fff;
  @media (--medium) {
    display: flex;
  }
}
