.editDescription {
  width: 100%;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 90px;
  margin-top: 20px;
  font-size: 14px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  line-height: 0;
  margin-right: 17px;
  height: 40px;
  width: 40px;
  color: #fff;
  font-size: 14px;
  letter-spacing: 1px;
  font-family: 'AvenirNextDemi';
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  user-select: none;
}

.submitButton {
  composes: button;
  background: #139edc;
}

.cancelButton {
  composes: button;
  background: #d8536f;
}
