.enter {
  transition: 0.8s;
  transform: translateY(-64px);
  position: fixed;
  left: 0;
  right: 0;
  z-index: 3000;
}

.enterActive {
  transform: translateY(0);
  transition: 0.8s;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 2000;
}

.leave {
  transition: 0.8s;
  transform: translateY(0);
  position: fixed;
  left: 0;
  right: 0;
  z-index: 2000;
}

.leaveActive {
  transform: translateY(-64px);
  transition: 0.8s;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 2000;
}

.appear {
  transform: translateY(-64px);
  transition: 0.8s;
  left: 0;
  right: 0;
  z-index: 2000;
}

.appearActive {
  transform: translateY(0);
  transition: 0.8s;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 2000;
}
