.input {
  font-family: 'AvenirNextMedium';
  font-size: 14px;
  color: #555;
  resize: none;
  border: 2px solid #dce4ea;
  box-shadow: none;
  appearance: none;
  border-radius: 4px;
  padding: 8px 12px;
  line-height: 23px;
  outline: none;
  &.invalid {
    border: 2px solid #D75071;
  }
}
