.workCounters {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-grow: 1;
}

.counter {
  display: flex;
  color: #aebeca;
  font-size: 15px;
  font-family: 'AvenirNextMedium';
  letter-spacing: 0px;
}

.iconView {
  margin-right: 5px;
  font-size: 15px;
  line-height: 18px;
}

.iconLike {
  font-size: 18px;
  margin-right: 5px;
}

.iconAlreadyLiked {
  color: #d8536f;
}

.iconComments {
  font-size: 18px;
  margin-right: 5px;
}

.iconSuggestions {
  font-size: 18px;
  margin-right: 5px;
}
