.workInfo {
  background: #fff;
  border: 1px solid rgba(189,203,213,0.3);
  box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.15);
  padding: 25px 20px;
  padding-top: 20px;
  min-height: 50px;
  position: relative;
}

.workInfo:before {
    position: absolute;
    content: '';
    border-top: 8px solid #139edc;
    left: 0;
    right: 0;
    top: 0px;
}

.infoHeader {
  display: flex;
}

.avatar {
  margin-right: 10px;
}

.avatarImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.name {
  margin: 0;
  padding: 0;
  margin-bottom: 3px;
  font-family: 'AvenirNextDemi';
  text-transform: uppercase;
  font-size: 12px;
  color: #13a0df;
  letter-spacing: 0.8px;
  font-weight: 500;
  line-height: 1.1;
}

.date {
  color: #92a4b2;
  font-size: 11px;
  font-family: 'AvenirNextDemi';
  letter-spacing: 0;
  text-transform: uppercase;
}

.dots {
  background-image: url(./dots.svg);
  background-repeat: repeat-x;
  height: 2px;
  width: 100%;
  background-position-x: -5px;
  margin: 20px 0;
}

.text {
  font-family: "AvenirNextMedium";
  color: #5f5d63;
  font-size: 14px;
  line-height: 23px;
  letter-spacing: 0;
  white-space: pre-wrap;
  word-break: break-all;
}

.buttons {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  width: 90px;
}
