.notFound {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #261f3d;
}

.logo {
  margin-top: 35px;
  margin-left: 25px;
  margin-bottom: 5px;
  @media (--medium) {
    margin-bottom: 15px;
    align-self: center;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  background: #fff;
  width: 350px;
  height: 465px;
  padding: 20px 25px;
  border-radius: 12px;
  text-align: center;
  margin-top: 30px;
}

.errorImg {
  width: 100px;
  margin-bottom: 20px;
}

.backButton {
  width: 250px;
  height: 45px;
}

.titleTop {
  font-size: 36px;
  font-weight: 500;
  line-height: 1.1;
}

.titleBottom {
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'AvenirNextBold';
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 1px;
}

.text {
  font-size: 14px;
  line-height: 1.42857143;
  margin-bottom: 25px;
}
