.workPanel {
  background: #f5f7f8;
  padding: 20px;
  padding-bottom: 0;
}

.form {
  overflow: hidden;
  transition: height .35s ease;
}

.formExpanded {
  composes: form;
  height: 202px;
}

.formCollapsed {
  composes: form;
  height: 0;
}

.buttons {
  display: flex;
  margin-bottom: 20px;
  margin-right: 12px;
  @media(--extra-small) {
    flex-direction: column;
    width: 100%;
  }
}

.button {
  margin-right: 12px;
}

.makeCommentButton {
  composes: button;
  @media(--extra-small) {
    margin-bottom: 0;
    margin-right: 0;
  }
}

.makeSuggestionButton {
  composes: button;
  @media(--medium) {
    display: none;
  }
}
