.workComment {
  display: flex;
  margin: 10px 0;
  padding: 15px 20px;
}

.workCommentToSuggestion {
  display: flex;
  padding: 20px;
  background: rgba(241,245,248,0.6);
}

.left {
  min-width: 50px;
  @media(--extra-small) {
    display: none;
  }
}

.avatarLink {
  font-size: 0;
  margin-right: 10px;
}

.avatarImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.mobileAvatarLink {
  display: none;
  font-size: 0;
  margin-right: 10px;
  @media(--extra-small) {
    display: block;
  }
}

.mobileAvatarImg {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.body {
  word-wrap: break-word;
}

.head {
  display: flex;
  font-size: 12px;
  letter-spacing: 0.7px;
  color: #13a0df;
  text-transform: uppercase;
  font-family: 'AvenirNextDemi';
  align-items: center;
}

.date {
  font-family: 'AvenirNextDemi';
  font-size: 10px;
  color: #92a4b2;
  line-height: 14px;
  text-align: right;
}

.name {
  margin-bottom: 3px;
  margin-right: 12px;
}

.text {
  display: block;
  color: #5f5d63;
  font-size: 14px;
  line-height: 23px;
  margin: 0;
  margin-top: 5px;
  font-family: 'AvenirNextMedium';
  letter-spacing: 0;
  padding-bottom: 10px;
}

.viewSuggestionBlock {
  display: flex;
  margin-top: 8px;
}

.viewSuggestionText {
  color: #92a4b2;
  font-size: 13px;
  margin-right: 8px;
}

.viewSuggestionLink {
  color: #13a0df;
  font-size: 13px;
  text-decoration: underline;
}
