@use lost;

@lost flexbox flex;

@import 'normalize.css';

@font-face {
  font-family: 'AvenirNextDemi';
  src: url('./fonts/avenir_next/hinted-subset-AvenirNextCyr-Demi.woff?v=1') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'AvenirNextBold';
  src: url('./fonts/avenir_next/hinted-subset-AvenirNextCyr-Bold.woff?v=1') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'AvenirNextMedium';
  src: url('./fonts/avenir_next/hinted-subset-AvenirNextCyr-Medium.woff?v=1') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'AvenirNextRegular';
  src: url('./fonts/avenir_next/hinted-subset-AvenirNextCyr-Regular.woff?v=1') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'AvenirNextMedium';
  letter-spacing: 1px;
  color: #333;
  overflow-y: scroll;
  overflow-x: hidden;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}

p {
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
}

:global .app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

:global .container {
  lost-center: 1170px 15px flex;
  @media (--large) {
    lost-center: 970px 15px flex;
  }
  @media (--medium) {
    lost-center: 750px 15px flex;
  }
}

:global .hidden {
  display: none;
}

:global .noScroll {
  overflow: hidden;
}
