.userSection {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  min-height: 72px;
  width: 100%;
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid #e7e7e7;
  box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.07);
  @media(--extra-small) {
    align-items: center;
    flex-direction: column;
  }
}

.user {
  display: flex;
  align-items: center;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 255px;
  margin-top: 5px;
}

.name {
  font-family: 'AvenirNextDemi';
  font-size: 14px;
  margin: 0;
  color: #62686d;
  margin-bottom: 4px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.avatar {
  margin-right: 10px;
}

.socialUrl {
  font-family: AvenirNextDemi;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 12px;
  color: #188bd4;
}

.works {
  color: #62686d;
}

.comments {
  color: #62686d;
}

.likes {
  color: #62686d;
}

.icon {
  display: inline-block;
  vertical-align: top;
  font-size: 24px;
  margin-right: 6px;
  align-self: flex-start;
}

.num {
  font-size: 18px;
  font-family: 'AvenirNextDemi';
  vertical-align: sub;
  letter-spacing: -1px;
}
