@use lost;

.worksSorting {
  min-height: 59px;
  border-bottom: 1px solid #e5e5e5;
  background: #fafafa;
}

.wrapper {
  @mixin container;
  justify-content: center;
}

.switcher {
  display: flex;
  position: relative;
  width: 510px;
  margin: 0;
  padding: 0;
  list-style: none;
  @media(--extra-small) {
    flex-direction: column;
  }
}

.link {
  display: block;
  font-family: 'AvenirNextDemi';
  font-size: 12px;
  padding: 18px 35px;
  padding-bottom: 20px;
  line-height: 21px;
  color: #5f5d63;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  @media(--extra-small) {
    padding: 10px 0;
  }
  &:hover {
    color: #139edc;
  }
}

.dataActive {
  .link {
    color: #139edc;
  }
  & ~ .underscore {
    transform: translate3d(0, 0, 0);
  }
}

.ratingActive {
  .link {
    color: #139edc;
  }
  & ~ .underscore {
    transform: translate3d(123%, 0, 0);
  }
}

.popularityActive {
  .link {
    color: #139edc;
  }
  & ~ .underscore {
    transform: translate3d(280%, 0, 0);
  }
}

.dateLink {
  composes: link;
}

.ratingLink {
  composes: link;
}

.popularityLink {
  composes: link;
}

.underscore {
  position: absolute;
  left: 5px;
  margin: 0;
  padding: 0;
  border: none;
  bottom: 0;
  width: 120px;
  height: 4px;
  background: #139edc;
  transition: transform 0.5s;
  transition-timing-function: cubic-bezier(1, 0.01, 0, 1.22);
  @media(--extra-small) {
    display: none;
  }
}
