.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 310px;
  margin-bottom: 20px;
  padding: 0 15px;
  background-image: image-set(
    url('https://ucarecdn.com/0fc4880e-084f-46be-a596-d999b7ba4410/-/quality/normal/-/resize/1980x/') 1x,
    url('https://ucarecdn.com/0fc4880e-084f-46be-a596-d999b7ba4410/-/quality/lightest/') 2x
  );
  background-color: #FABF04;
  background-repeat: no-repeat;
  background-size: cover;
  @media(--medium) {
    background-position: 23% 0;
  }
  @media(--small) {
    background-position: 0 0;
    height: 255px;
    margin-bottom: 0;
    background-image: image-set(
      url('https://ucarecdn.com/0fc4880e-084f-46be-a596-d999b7ba4410/-/quality/normal/-/scale_crop/768x255/') 1x,
      url('https://ucarecdn.com/0fc4880e-084f-46be-a596-d999b7ba4410/-/quality/lightest/-/scale_crop/1536x510/') 2x
    );
  }
}

.headerWebp {
  background-image: image-set(
    url('https://ucarecdn.com/0fc4880e-084f-46be-a596-d999b7ba4410/-/format/webp/-/quality/normal/-/resize/1980x/') 1x,
    url('https://ucarecdn.com/0fc4880e-084f-46be-a596-d999b7ba4410/-/format/webp/-/quality/lightest/') 2x
  );
  @media(--small) {
    background-image: image-set(
      url('https://ucarecdn.com/0fc4880e-084f-46be-a596-d999b7ba4410/-/format/webp/-/quality/normal/-/scale_crop/768x255/') 1x,
      url('https://ucarecdn.com/0fc4880e-084f-46be-a596-d999b7ba4410/-/format/webp/-quality/lightest/-/scale_crop/1536x510/') 2x
    );
  }
}


.companyName {
  font-size: 72px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 0 3px 10px rgba(206, 136, 3, 0.56);
  margin: 0;
  @media(--extra-small) {
    font-size: 50px;
  }
}

.subtitle {
  font-size: 18px;
  color: #fff;
  opacity: 0.9;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  text-shadow: 0 3px 8px rgba(206, 136, 3, 0.4);
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: AvenirNextRegular;
  margin-bottom: 45px;
  max-width: 810px;
  padding: 0 15px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 1.56;
  color: #4c4a50;
}

.paragraph {
  margin: 35px 0;
  letter-spacing: 0.2px;
}

.paragraphLast {
  composes: paragraph;
  margin-bottom: 65px;
}

.separator {
  display: block;
  height: 2px;
  border-top: solid 1px #dedede;
  margin: 0;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 810px;
  padding: 0 15px;
  margin: 0 auto;
  margin-bottom: 130px;
}

.footerText {
  font-size: 18px;
  color: #4c4a50;
  text-align: center;
  margin-bottom: 35px;
}

.icons {
  display: flex;
}

.icon {
  width: 60px;
  height: 60px;
}

.telegramIcon {
  composes: icon;
}

.slackIcon {
  composes: icon;
}

.socialLink {
  display: block;
  font-size: 0;
}

.telegramLink {
  margin-right: 30px;
}

.slackLink {
  margin-right: 0;
}
