.backButton {
  display: flex;
  margin: 35px 0;
  justify-content: space-between;
  align-items: center;
  width: 88px;
  min-height: 21px;
  font-family: 'AvenirNextDemi';
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1.83;
  letter-spacing: 1px;
  color: #4d4d4d;
  cursor: pointer;
}
