.alert {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  color: white;
  z-index: 2000;
}

.icon {
  display: flex;
  width: 64px;
  justify-content: center;
  align-items: center;
}

.content {
  display: inline-flex;
  flex: 1;
  padding: 22px 0;
  padding-left: 22px;
}

.message {
  display: inline-block;
  flex: 1;
}

.close {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  & span {
    width: 20px;
    height: 20px;
    position: relative;
    cursor: pointer;
    &::after,
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 2px;
      height: 60%;
      background-color: black;
    }
    &::after {
      transform: translate(-50%,-50%) rotate(45deg);
    }
    &::before {
      transform: translate(-50%,-50%) rotate(-45deg);
    }
  }
}

.iconError {
  composes: icon;
  background-color: #A43426;
}

.contentError {
  composes: content;
  background-color: #EA4B35;
}

.iconSucces {
  composes: icon;
  background-color: #337C35;
}

.contentSucces {
  composes: content;
  background-color: #48B14C;
}

.enter {
  transition: 1s;
  transform: translateY(-64px);
}

.enterActive {
  transform: translateY(0);
  transition: 1s;
}

.leave {
  transition: 1s;
  transform: translateY(0);
}

.leaveActive {
  transform: translateY(-64px);
  transition: 1s;
}

.appear {
  transition: 1s;
  transform: translateY(-64px);
}

.appearActive {
  transform: translateY(0);
  transition: 1s;
}
