.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  flex-wrap: nowrap;
  flex-direction: row;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1000;
  background-color: rgba(27, 43, 58, 0.8);
  transition: opacity .3s ease;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 20px;
  @media(--small) {
    padding: 0;
  }
}

.basic {
  display: flex;
  flex: 0 1 auto;
  align-self: auto;
  position: relative;
  background: #fff;
  outline: none;
  -webkit-overflow-scrolling: 'touch';
  border-radius: 4px;
  background-clip: padding-box;
  box-shadow: 0px 20px 30px 0px rgba(21, 24, 31, 0.25);
  transition: all .3s ease;
  justify-content: center;
  margin: auto;
  flex-basis: 580px;
  @media(--small) {
    min-height: 100%;
    flex-basis: 100%;
    border-radius: 0;
  }
}

.addWork {
  composes: basic;
  flex-basis: 780px;
}
