.suggestionMarker {
  position: absolute;
  width: 25px;
  height: 25px;
  border: 4px solid #fff;
  box-shadow: 0 4px 12px rgba(0,0,0,0.42);
  border-radius: 50%;
  background: #d8536f;
  transform: translate(-50%, -50%);
}

.suggestionMarkerMyOwn {
  composes: suggestionMarker;
  background: #9cc315;
}

.markerReaded {
  composes: suggestionMarker;
  background: #aebeca;
}


.window {
  position: absolute;
  width: 100px;
  background: #fff;
  width: 270px;
  border-radius: 4px;
  box-shadow: 0px 2px 15px rgba(0,0,0,0.6);
}

.windowLeft {
  composes: window;
  right: 35px;
  top: 50%;
  transform: translate(0, -50%);
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -10px;
    border: 10px solid transparent;
    border-left: 10px solid #fff;
  }
}

.windowRight {
  composes: window;
  left: 35px;
  top: 50%;
  transform: translate(0, -50%);
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -10px;
    border: 10px solid transparent;
    border-right: 10px solid #fff;
  }
}

.windowTop {
  composes: window;
  right: 50%;
  top: -5px;
  transform: translate(50%, -100%);
  &::after {
    content: '';
    position: absolute;
    top: 100%;
    right: 50%;
    margin-left: -10px;
    border: 10px solid transparent;
    border-top: 10px solid #fff;
  }
}

.windowBottom {
  composes: window;
  right: 50%;
  bottom: -5px;
  transform: translate(50%, 100%);
  &::after {
    content: '';
    position: absolute;
    bottom: 100%;
    right: 50%;
    margin-right: -10px;
    border: 10px solid transparent;
    border-bottom: 10px solid #fff;
  }
}

.windowContent {
  padding: 0 15px;
  margin-top: -25px;
}

.closeButton {
  display: flex;
  justify-content: flex-end;
  padding: 15px;
}

.comment {
  margin-bottom: 30px;
}

.commentText {
  font-size: 13px;
  color: #605e64;
  letter-spacing: 0.4px;
  line-height: 20px;
  font-family: 'AvenirNextMedium';
  margin-bottom: 12px;
}

.commentInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.commentName {
  position: relative;
  background: #d8536f;
  padding: 5px 8px;
  border-radius: 4px;
  color: #fff;
  font-size: 12px;
  margin-left: 18px;
  max-width: 125px;
  &::before {
    content: '—';
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: -18px;
    font-size: 14px;
    color: black;
  }
}

.commentNameMyOwn {
  composes: commentName;
  background: #9cc315;
}

.commentDate {
  color: #92a4b2;
  font-size: 10px;
  letter-spacing: 0;
  text-transform: uppercase;
}
