.modalCloseButton {
  font-family: 'AvenirNextMedium';
  color: #c4cfd8;
  padding: 0;
  margin: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 0.6;
  border:none;
  background-image:none;
  background-color:transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  &:focus {
    outline: none;
  }
  &:hover {
    cursor: pointer;
  }
}
