@use lost;

@lost flexbox flex;

.works {
  width: 100%;
  flex-grow: 1;
}

.wrapper {
  @mixin container;
}

.worksSorting {
  margin-bottom: 30px;
}

.userSection {
  @mixin container;
  margin-bottom: 25px;
}

.workCard {
  margin-bottom: 30px;
  lost-column: 1/4;
  @media (--medium) {
    lost-column: 1/2;
  }
  @media (--small) {
    lost-column: 1/1;
  }
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-grow: 1;
  margin-bottom: 20px;
}
