.suggestionsImage {
  position: relative;
  user-select: none;
  box-shadow: 0 4px 12px rgba(0,0,0,0.42);
  background: #fafafa;
  margin: auto;
}

.suggestionsImageLoading {
  position: absolute;
  top: -5000px;
}

.image {
  display: block;
  width: 100%;
}

.markerksGrid {
  position: absolute;
  width: 100%;
  height: 100%;
}

.wrapper {
  margin: auto;
}

.spinnerContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 2000;
}
