.workCard {
  height: 0;
  padding-top: 100%;
  position: relative;
  border: 1px solid #e7e7e7;
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.07);
  overflow: hidden;
}

.container {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
}

.description {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background: #fff;
  border-bottom: 1px solid #e7e7e7;
  transition: opacity 0.2s ease-out;
  z-index: 10;
  opacity: 0;
  &:hover {
    opacity: 1;
  }
}

.header {
  display: flex;
  border-bottom: 1px solid #eee;
  padding: 15px;
  padding-bottom: 10px;
}

.info {}

.avatar {
  margin-right: 10px;
}

.avatarImg {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.name {
  margin-bottom: 3px;
  margin-top: 2px;
}

.date {
  color: #92a4b2;
  font-size: 11px;
  font-family: 'AvenirNextDemi';
  letter-spacing: 0;
  text-transform: uppercase;
}

.textLink {
  position: relative;
  display: flex;
  text-decoration: none;
  flex-grow: 1;
  width: 100%;
}

.text {
  padding: 0 15px;
  color: #5f5d63;
  font-family: 'AvenirNextMedium';
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.5px;
  overflow: hidden;
  text-overflow: ellipsis;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  @supports (-webkit-line-clamp: 2) {
    position: relative;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
  }
  @media (--large) {
    -webkit-line-clamp: 4;
  }
  @media (--medium) {
    -webkit-line-clamp: 12;
  }
  @media only screen and (-small) {
    -webkit-line-clamp: 18;
  }
  @media only screen and (max-width: 480px) {
    -webkit-line-clamp: 12;
  }
}

.imageContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #fafafa;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.counters {
  background: #fff;
  padding: 15px;
  height: 47px;
}
