@use lost;

.footer {
  width: 100%;
  min-height: 60px;
  background-color: #261f3d;
}

.wrapper{
  @mixin container;
  justify-content: center;
}

.text {
  font-size: 12px;
  letter-spacing: 1px;
  color: rgba(255,255,255,0.7);
  padding: 22px 0;
  @media (--small) {
     text-align: center;
     padding: 15px 0;
  }
}

.copyright {
  font-family: 'AvenirNextDemi';
  color: #fff;
  font-weight: 100;
  margin-right: 10px;
  @media (--small) {
     display: block;
     margin-bottom: 5px;
  }
}
