.workDesc {
  background: #fff;
  border: 1px solid rgba(189,203,213,0.3);
  box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.15);
}

.image {
  display: block;
  width: 100%;
  object-fit: cover;
  height: auto;
}

.counters {
  width: 224px;
  margin: 22px;
  margin-left: 30px;
}

.imageContainer {
  position: relative;
  min-height: 400px;
  background: #fafafa;
  &:hover .overlay {
    opacity: 1;
    background: rgba(0, 0, 0, 0.5)
  }
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  @media(--medium) {
    display: none;
  }
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  margin: 15px;
}
