.comment {
  display: block;
  font-family: 'AvenirNextMedium';
  width: 100%;
  height: 60px;
  padding: 0 15px;
  margin-bottom: 10px;
  overflow: hidden;
  resize: none;
  border: none;
  font-size: 13px;
  &:focus {
    outline: none;
  }
}

.submit {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  height: 46px;
  background: #13a0df;
  border: none;
  width: 100%;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.3px;
}
