.form {
  display: flex;
  flex-flow: column;
}

.description {
  display: flex;
  flex-flow: column;
  min-height: 155px;
}

.labelDescription {
  font-size: 12px;
  color: #5f5d63;
  font-family: 'AvenirNextDemi';
  letter-spacing: 1px;
  margin-bottom: 5px;
  font-weight: 700;
  text-transform: uppercase;
}

.inputDescription {
  height: 100px;
}

.submitButton {
  height: 46px;
  width: 178px;
  align-self: center;
  display: block;
  color: #fff;
  font-family: 'AvenirNextDemi';
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  background: #139edc;
  border: 0;
  cursor: pointer;
  border-radius: 4px;
  @media(--small) {
    margin-right: 20px;
  }
  @media(--extra-small) {
    margin-right: 0;
    margin-top: 20px;
    order: 2;
  }
  &:hover {
    background: #118cc3;
  }
  &:disabled {
    opacity: 0.4;
  }
}

.buttons {
  display: flex;
  justify-content: center;
  @media(--small) {
    justify-content: flex-start;
    align-items: center;
  }
  @media(--extra-small) {
    justify-content: center;
    flex-direction: column;
  }
}

.panel {
  margin-bottom: 20px;
  @media(--small) {
    display: none;
  }
}

.widget {
  display: none;
  @media(--small) {
    display: inherit;
  }
}
