.button {
  display: flex;
  align-items: center;
  width: 160px;
  height: 38px;
  font-family: 'AvenirNextDemi';
  font-size: 12px;
  color: #fff;
  line-height: 20px;
  letter-spacing: 1px;
  margin: 8px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 13px;
  width: 43px;
  height: 100%;
  font-size: 1.6em;
  border-right: 1px solid rgba(0,0,0,0.18);
}

.vkontakte {
  composes: button;
  background-color: #487cb8;
  border-color: rgba(0,0,0,0.2);
  &:hover {
    outline: none;
    background-color: #4170a7;
  }
}

.facebook {
  composes: button;
  background-color: #405d9a;
  border-color: rgba(0,0,0,0.2);
  &:hover {
    outline: none;
    background-color: #37528a;
  }
}

.facebook > .icon {
    padding-top: 3px;
}
