@use lost;

.notificationsTimeline {
  @mixin container column;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-bottom: 28px;
  flex-grow: 1;
  width: 100%;
  @media(--extra-small) {
    align-items: flex-end;
  }
}

.line {
  &::before {
    content:"";
    position: absolute;
    top: 30px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: -1;
    width: 2px;
    background-color: #C0CED7;
    @media(--extra-small) {
      left: inherit;
      right: 64px;
    }
  }
}

.empty {
  margin: auto;
  text-align: center;
  font-family: AvenirNextBold;
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: 1px;
  color: #4c4a50;
  text-transform: uppercase;
}

.separator {
  display: flex;
  height: 35px;
  width: 114px;
  margin-top: 36px;
  margin-bottom: 36px;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border-radius: 4px;
  background-color: #c0ced7;
  font-family: AvenirNextMedium;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.8px;
  color: #FFFFFF;
}

.firstSeparator {
  composes: separator;
  margin-top: 0;
  background-color: #139edc;
}

.card {
  display: flex;
  justify-content: center;
  margin: 10px 0;
  width: 100%;
  @media(--extra-small) {
    text-align: right;
  }
  @media(--extra-small) {
    width: auto;
    justify-content: flex-end;
  }
  &:nth-of-type(even) {
    flex-direction: row-reverse;
    @media(--extra-small) {
      flex-direction: row;
    }
    & .side:first-of-type {
      flex-direction: row-reverse;
      @media(--extra-small) {
        flex-direction: row;
      }
    }
    & .side:last-of-type {
      justify-content: flex-end;
    }
  }
  &:nth-of-type(odd) .side:first-of-type {
    & .body {
      text-align: right;
      align-items: flex-end;
    }
    & .text, & .type {
      text-align: right;
    }
    & .name {
      margin-left: auto;
    }
  }
}

.side {
  display: flex;
  flex-basis: 400px;
  @media(--extra-small) {
    flex-basis: auto;
  }
  &:first-of-type {
    justify-content: flex-end;
  }
  &:last-of-type {
    justify-content: flex-start;
    @media(--extra-small) {
      flex-shrink: 0;
      flex-basis: 41px;
    }
  }
}

.body {
  display: flex;
  flex-direction: column;
  padding-top: 6px;
  padding-left: 10px;
  padding-right: 10px;
  align-items: flex-start;
  @media(--extra-small) {
    align-items: flex-end;
  }
}

.head {
  display: flex;
  text-transform: uppercase;
  font-family: AvenirNextRegular;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.3px;
  color: #139edc;
  margin-bottom: 6px;
}

.name {
  @media(--extra-small) {
    margin-left: auto;
  }
}

.type {
  font-family: AvenirNextRegular;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.3px;
  color: #5f5d63;
}

.text {
  display: -webkit-box;
  font-family: AvenirNextRegular;
  font-size: 13px;
  line-height: 1.23;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  color: #98a5ad;
  margin: 0;
  margin-top: 5px;
  letter-spacing: 0.3px;
  overflow: hidden;
}

.author {
  width: 40px;
  height: 41px;
  @media(--extra-small) {
    flex-shrink: 0;
  }
}

.circle {
  padding-top: 13px;
  padding-left: 10px;
  padding-right: 10px;
  @media(--extra-small) {
    flex-shrink: 0;
  }
  & div {
    width: 14px;
    height: 14px;
    justify-self: center;
    margin-left: 8px;
    margin-right: 8px;
    border: 3px solid #c0ced7;
    border-radius: 50%;
    background-color: white;
  }
}

.time {
  padding-top: 12px;
  justify-self: flex-end;
  font-family: AvenirNextDemi;
  font-size: 13px;
  font-weight: 600;
  color: #c0ced7;
}

.link {
  display: block;
  font-family: AvenirNextMedium;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.3px;
  text-align: right;
  color: #139edc;
  margin-top: 6px;
}

.new {
  animation-name: read;
  animation-duration: 2s;
}

@keyframes read {
  0% {
    border-color: #139EDC;
    color: #139edc;
  }
  100% {
    border-color: #c0ced7;
    color: #c0ced7;
  }
}

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.loadNextPageSpinner {
  composes: spinner;
  margin: 20px 0;
  @media(--extra-small) {
    justify-content: flex-end;
    margin-right: 41px;
  }
}
