.avatar {
  font-size: 0;
}

.avatarImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  &:hover {
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.15);
    opacity: 0.9;
  }
}

.avatarImgSmall {
  composes: avatarImg;
  width: 35px;
  height: 35px;
}

.avatarImgMedium {
  composes: avatarImg;
  width: 40px;
  height: 40px;
}

.avatarImgBig {
  composes: avatarImg;
  width: 48px;
  height: 48px;
}

.noHover {
  &:hover {
    box-shadow: none;
    opacity: inherit;
  }
}
