.window {
  position: absolute;
  width: 100px;
  background: #fff;
  width: 300px;
  border-radius: 4px;
  box-shadow: 0px 2px 15px rgba(0,0,0,0.6);
  z-index: 10;
}

.windowLeft {
  composes: window;
  transform: translate(calc(-100% - 25px), -50%);
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -10px;
    border: 10px solid transparent;
    border-left: 10px solid #fff;
  }
}

.windowRight {
  composes: window;
  transform: translate(25px, -50%);
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -10px;
    border: 10px solid transparent;
    border-right: 10px solid #fff;
  }
}

.windowTop {
  composes: window;
  transform: translate(calc(-50% + 10px), calc(-100% - 25px));
  &::after {
    content: '';
    position: absolute;
    top: 100%;
    right: 50%;
    margin-left: -10px;
    border: 10px solid transparent;
    border-top: 10px solid #fff;
  }
}

.windowBottom {
  composes: window;
  transform: translate(calc(-50% - 1px), 25px);
  &::after {
    content: '';
    position: absolute;
    bottom: 100%;
    right: 50%;
    margin-right: -10px;
    border: 10px solid transparent;
    border-bottom: 10px solid #fff;
  }
}

.windowTopLeft {
  composes: window;
  transform: translate(-100%, -100%);
}

.windowTopRight {
  composes: window;
  transform: translate(0, -100%);
}

.windowBottomLeft {
  composes: window;
  transform: translate(-100%, 0);
}

.windowBottomRight {
  composes: window;
}

.windowHidden {
  visibility: hidden;
}

.windowShadow {
  composes: windowRight;
  composes: windowHidden;
}

.windowContent {
  padding: 0 24px;
  margin-top: 22px;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 15px;
}

.comment {
  margin-bottom: 30px;
}

.commentText {
  font-size: 13px;
  color: #605e64;
  letter-spacing: 0.4px;
  line-height: 20px;
  font-family: 'AvenirNextMedium';
  margin-bottom: 12px;
}

.commentInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.commentName {
  position: relative;
  background: #d8536f;
  padding: 5px 8px;
  border-radius: 4px;
  color: #fff;
  font-size: 12px;
  margin-left: 18px;
  max-width: 130px;
  &::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 12px;
    background: #000;
    top: 50%;
    transform: translate(0, -50%);
    left: -18px;
  }
}

.commentNameMyOwn {
  composes: commentName;
  background: #9cc315;
}

.commentDate {
  color: #92a4b2;
  font-size: 10px;
  letter-spacing: 0;
  text-transform: uppercase;
}

.windowForm {
  margin-top: 28px;
}
