.suggestionAuthors {

}

.author {
  display: flex;
  color: #dddddd;
  position: relative;
  padding: 12px 24px;
  cursor: pointer;
}

.authorSelected {
  composes: author;
  background: rgba(19, 158, 220, 0.1);
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 4px;
    background: #139edc;
  }
}

.authorUnreaded {
  composes: author;
  background: #1C192A;
  color: #fff;
  padding: 11px 23px;
  border: 1px solid rgba(44,38,64,0.85);
  box-shadow: inset 0 1px 9px 0 rgba(24,22,22,0.80);
  &::before {
    content: '';
    position: absolute;
    height: 8px;
    width: 8px;
    top: 50%;
    left: 8px;
    transform: translate(0, -50%);
    border-radius: 50px;
    background: #f1476b;
  }
}

.suggestionAuthors h4 {
  color: #fff;
}

.avatar {
  margin-right: 12px;
}

.name {
  margin-bottom: 7px;
  line-clamp: 1;
}

.date {
  display: block;
  font-size: 10px;
  font-family: 'AvenirNextMedium';
  letter-spacing: 0;
  text-transform: uppercase;
  margin-bottom: 1px;
}

.count {
  font-family: 'AvenirNextMedium';
  font-size: 12px;
  margin-right: 3px;
}

.count + img {
    vertical-align: bottom;
}

.addingAdvice {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  margin-top: 145px;
}

.addingAdviceText {
  font-size: 12px;
  line-height: 22px;
  padding: 30px;
  text-transform: uppercase;
  text-align: center;
}

.space {
  height: 12px;
}
