@use lost;

.nav {
  min-height: 70px;
  background-color: #261f3d;
}

.wrapper {
  @mixin container;
  @media (--small) {
    flex-direction: column !important;
  }
}

.visibleMedium {
  display: none;
  @media (--small) {
    display: block !important;
  }
}

.unvisibleMedium {
  @media (--small) {
    display: none !important;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: block;
  padding-top: 22px;
  padding-bottom: 17px;
  margin-right: 15px;
  @media (--medium) {
    display: none;
    width: 79px;
    overflow: hidden;
  }
  @media (--small) {
    display: block;
    width: 215px;
  }
}

.guestLogo {
  composes: logo;
  display: block !important;
}

.menu {
  display: flex;
  flex-grow: 1;
  padding: 0;
  margin: 0;
  list-style: none;
  transition: height 0.35s ease;
  @media (--small) {
    position: absolute;
    top: 70px;
    left: 0;
    flex-direction: column;
    background: #261f3d;
    border-top: 1px solid #1b162b;
    transition: all 0.2s ease-in-out;
    z-index: 100;
    width: 100vw;
  }
}

.menuMobileExpanded {
  composes: menu;
  @media (--small) {
    opacity: 1;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.2s;
  }
}

.menuMobileCollapsed {
  composes: menu;
  @media (--small) {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-0.5em);
  }
}

.link {
  display: flex;
  padding: 27px 15px 30px 15px;
  font-size: 12px;
  font-family: 'AvenirNextDemi';
  letter-spacing: 1px;
  color: rgba(255,255,255,0.7);
  text-transform: uppercase;
  text-decoration: none;
  &:hover {
    color: #fff;
  }
  @media (--small) {
    padding: 18px 20px !important;
    color: #fff;
  }
}

.icon {
  color: #fff;
  font-size: 14px;
}

.activeLink {
  composes: link;
  color: #fff;
}

.allWorksLink {
  composes: link;
}

.myWorksLink {
  composes: link;
}


.addButton {
  position: relative;
  &::before {
    position: absolute;
    top: 22px;
    left: 15px;
    content: "+";
    width: 24px;
    height: 24px;
    background: #139edc;
    border-radius: 4px;
    margin-right: 10px;
    font-size: 18px;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    line-height: 24px;
    padding-left: 1px;
    @media (--small) {
      display: none;
    }
  }
}

.addWorkLink {
  composes: link;
  composes: addButton;
  color: #fff;
  padding: 26px 15px 31px 49px;
  @media (--small) {
    color: #139edc;
  }
  &:hover {
    opacity: 0.8;
  }
}

.userLink {
  composes: link;
  padding: 17px 15px 18px 15px;
  font-size: 0;
  align-items: center;
}

.username {
  composes: visibleMedium;
  font-size: 12px;
}

.avatar {
  @media (--small) {
    margin-right: 10px;
  }
}

.recentInfoLink {
  composes: link;
  padding: 29px 24px 25px 24px;
  justify-content: space-between;
}

.alarm {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    left: -9px;
    top: -9px;
    width: 32px;
    height: 32px;
    border: 1px solid #d8536f;
    border-radius: 50%;
    animation: blink_slow 1.2s linear infinite;
  }
  &:after {
    content: "";
    position: absolute;
    left: -5px;
    top: -5px;
    width: 24px;
    height: 24px;
    border: 2px solid #d8536f;
    border-radius: 50%;
    animation: blink 1.2s linear infinite;
    animation-delay: -0.3s;
  }
}

.recentInfoIcon {
  composes: icon;
  composes: alarm;
}

.recentInfoText {
  composes: visibleMedium;
}

.unloginedAboutLink {
  composes: link;
  @media(--small) {
    margin: 0 auto;
    margin-bottom: 5px;
    display: block;
  }
}

.logoutLink {
  composes: link;
  padding: 27px 15px 27px 15px;
  margin-right: -15px;
}

.logoutIcon {
  composes: icon;
  composes: unvisibleMedium;
}

.logoutText {
  composes: visibleMedium;
}

.loginLink {
  margin-top: 14px;
  margin-left: 40px;
  @media (--small) {
    margin: 0;
    margin-bottom: 20px;
    text-align: center;
    line-height: 5px;
    display: block;
  }
  &:hover {
    opacity: 0.8;
  }
}

.allWorks {
  order: 1;
}

.myWorks {
  order: 2;
}

.about {
  display: flex;
  order: 3;
}

.space {
  composes: unvisibleMedium;
  order: 4;
  display: block;
  flex-grow: 1;
}

.addWork {
  order: 5;
}

.user {
  order: 6;
  @media (--small) {
    order: 0;
  }
}

.recentInfo {
  order: 7;
}

.logout {
  order: 8;
}

.login {
  order: 9;
}

.button {
  composes: visibleMedium;
  padding: 9px 10px;
  background-color: transparent;
  background-image: none;
  border: 1px solid #fff;
  border-radius: 4px;
  &:focus {
    outline: none;
    background: rgba(255,255,255,0.3);
  }
}

.buttonBar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background: #fff;
  margin-top: 4px;
  &:first-child {
    margin-top: 0;
  }
}

.hiddenInput {
  display: none;
}

.hiddenInput:checked ~ .menu {
  height: 0;
  overflow: hidden;
}

@keyframes blink {
  0% {
    border-color: #261f3d;
  }
  50% {
    border-color: #D8536F;
  }
  100% {
    border-color: #261f3d;
  }
}

@keyframes blink_slow {
  0% {
    border-color: #261f3d;
  }
  50% {
    border-color: #D8536F;
  }
  100% {
    border-color: #261f3d;
  }
}
