@use lost;

.work {
  @mixin container column;
}

.wrapper {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  @media(--medium) {
    flex-direction: column;
  }
}

.back {
  display: flex;
  margin: 35px 0;
  justify-content: space-between;
  align-items: center;
  width: 88px;
  font-family: 'AvenirNextDemi';
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1.83;
  color: #4d4d4d;
  cursor: pointer;
}

.workDesc {
  lost-column: 2/3;
  order: 1;
  margin-bottom: 30px;
  @media (--medium) {
    lost-column: 1/1;
  }
}

.workInfo {
  lost-column: 1/3;
  order: 2;
  margin-bottom: 30px;
  @media (--medium) {
    lost-column: 1/1;
    order: 0;
  }
}

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
