.modalAddWork {
  flex-grow: 1;
}

.closeButton {
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
  padding-right: 20px;
}

.content {
  padding: 20px 75px;
  @media(--small) {
    padding: 20px;
  }
}
